.thum{
  width: 100%;
  border-radius: 10px;
}

.ta{
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  margin-bottom: 10px;
}
.ma,.vi{
  font-size: 12px;
  color: rgb(96, 96, 96);
}
.vi{
  margin-top: 4px;
}

.info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}

.ch{
  width: 36px;
  border-radius: 50px;
}

.thumb{
  margin-bottom: 8px;
  position: relative;
}
.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}
@media (max-width: 600px){
  .video-grid{
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1000px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.video-time{
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding: 4px 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
}